body {
  background-color: white;
}
.title {
  font-size: 20rem;
  font-color: rgb(44,218,230);
  background: rgb(0,0,0,0.5);
}
.subtitle {
  font-size: 16rem;
}

ul {
  text-align: center;
  font-family: monospace;
}
h2 {
  font-size: 6rem;
  text-align: right;
}
p {
  font-size: 15rem;
  
}
